
<div class="task">
    <a href="/users">Home</a> /
    <a href="/users/{{userId}}">Profile</a> /
    <a href="/users/{{userId}}/cities">Cities</a> /
    <a href="/users/{{userId}}/cities/{{city._id}}">{{city.city_name}}</a> / Activities
</div>

<div class="user-container">
    <div>
        <img src="https://placehold.it/256/256" alt="placeholder">
    </div>
    <div class="user-info">
        <h1>{{activity.activity_place}}</h1>
        <div class ="details">
        <div>Activity Name: {{activity.activity_name}}</div>
        <div>Address: {{activity.activity_address}}</div>
        <div>Description: {{activity.description}}</div>
        <div>Visited: {{activity.visited}}</div>
    <div>Recommend to friends: {{activity.recommend_to_friends}}</div>
    </div>
        <a class="button warning" href="/users/{{userId}}/cities/{{city._id}}/activities/{{activity._id}}/delete">Delete</a>
    </div>
</div>