<div class="stepper">
    <a href="/users">Home</a> /
    <a href="/users/{{userId}}">Profile</a> /
    <a href="/users/{{userId}}/cities">Cities</a> / {{city.city_name}}
</div>

<div class="store-header">
    <div>
        <h1>{{city.city_name}}</h1>
    </div>
    <a class="button warning" href="/users/{{userId}}/cities/{{city._id}}/delete">Delete</a>
</div>

<div>
    <div class="activity-header">
        <h3>Activity List:</h3>
        <a class="button primary" href="/users/{{userId}}/cities/{{city._id}}/activities/new">Add an Activity</a>
    </div>

    <div class="activities">
        {{#each city.activitiesToComplete}}
        <div class="activity">
            <a href="/users/{{../userId}}/cities/{{../city._id}}/activities/{{this._id}}">
                {{this.activity_place}}
            </a>
        </div>
        {{/each}}
    </div>

</div>