<div class="stepper">
    <a href="/users">Home</a> /
    <a href="/users/{{user._id}}">Profile</a> / Edit Profile
</div>

<div class="card">

    <h2>Edit User Profile</h2>
    <div>
        <form action="/users/{{user._id}}?_method=PUT" method="POST">
            <div class="form-input">
                <label for="username">Username:</label>
                <input type="text" name="username" value="{{user.username}}" required/>
            </div>

            <div class="form-input">
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{user.name}}" required/>
            </div>

            <div class="form-input">
                <label for="photo_url">Immage Url:</label>
                <input type="text" name="photo_url" value="{{user.photo_url}}" />
            </div>

            <div class="button-container flex-end">
                <input class="button primary" type="submit" value="Update Profile">
                <a href="/users/{{user._id}}" class="button warning">Cancel</a>
            </div>
        </form>
    </div>
</div>